.logo img {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
}
.card-container {
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: 18%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .card p {
    margin-top: auto; /* ให้ข้อความไปอยู่ที่ด้านล่าง */
    margin-bottom: 10px; /* ระยะห่างด้านล่างของข้อความ */
  }
  