* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 1600px;
    margin: 25px auto 0;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container-main {
    max-width: 1325px;
    margin: 100px auto 0;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    /* ให้ flex items ขยับไปบรรทัดถัดไปเมื่อมีเนื้อหามากเกินไป */
    justify-content: center;
    align-items: flex-start;
    /* ให้แสดงผลด้านบนของ container */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container-main .col-md-2 {
    text-align: center;
    flex: 0 0 calc(20% - 30px);
    /* ให้แต่ละ item มีขนาดเท่ากับ 25% ของ container และมีระยะห่าง 20px */
    margin: 10px;
    /* เพิ่มระยะห่างรอบ item */
}

.container-main .col-md-2 img {
    max-width: 100%;
    height: auto;
}

.container-main .col-md-2 p {
    font-size: 14px;
    margin-top: 10px;
}

.container-detail {
    max-width: 1325px;
    margin: 100px auto 0;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    /* ให้ flex items ขยับไปบรรทัดถัดไปเมื่อมีเนื้อหามากเกินไป */
    justify-content: center;
    align-items: flex-start;
    /* ให้แสดงผลด้านบนของ container */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.row {
    display: flex;
    justify-content: center;
}

.sreach {
    background: transparent;
    border: 2px solid rgba(66, 49, 49, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    color: #fff;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo img {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
}